.DS_Store
demo1/node_modules/
demo2/node_modules/
demo1/dist/
demo2/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
demo1/test/unit/coverage/
demo2/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
